/* Write your code here. */
body {
  box-sizing: border-box;
}
* {
  margin: 0px;
}
.bg-container {
  background-color: #0f172a;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image {
  height: 160px;
  width: 160px;
}
.heading {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 32px;
  color: #f8fafc;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .heading {
    font-size: 64px;
  }
}
@media screen and (min-width: 768px) {
  .image {
    width: 300px;
    height: 300px;
  }
}
